@import "../../../variable.scss";

.web_wrapper {
	background: $dark_bg;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: $white_bg;
	display: flex;
	position: relative;

	.side_bar {
		display: flex;
		flex-direction: column;
		width: 250px;
		border-right: 1px solid $white_bg;
		position: sticky;
		height: 100vh;
		flex: 1;
		top: 0;
		left: 0;
		padding: 50px 25px;

		@media screen and (max-width: 768px) {
			display: none;
		}

		.logo_name {
			text-decoration: none;
			color: $white_bg;
			font-size: 35px;
			cursor: pointer;
			font-family: "Pacifico", cursive;
		}

		.side_bar_items {
			margin-top: 50px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.side_bar_item {
				display: flex;
				align-items: center;
				gap: 8px;
				background: $purple_bg;
				width: 80%;
				padding: 10px 15px;
				text-decoration: none;
				border-radius: 10px;
				color: $white_bg;
				h2 {
					font-size: 18px;
				}
			}

			.side_bar_item_close {
				display: flex;
				align-items: center;
				gap: 8px;
				background: transparent;
				width: 80%;
				padding: 10px 15px;
				text-decoration: none;
				border-radius: 10px;
				color: $white_bg;
				h2 {
					font-size: 18px;
				}
			}
		}

		.profile_link {
			margin-top: 40px;
			width: 80%;
			display: flex;
			align-items: center;
			gap: 10px;
			cursor: pointer;

			h2 {
				font-size: 16px;
			}

			.profile_img {
				height: 40px;
				width: 40px;
				border-radius: 100%;
				overflow: hidden;
				border: 1px solid $purple_bg;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.app_wrapper {
		width: calc(100% - 250px);
		position: relative;
		flex: 5;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		.mobile_header {
			display: none;
			background: $dark_bg;
			z-index: 20;

			@media screen and (max-width: 768px) {
				width: 100%;
				position: sticky;
				top: 0;
				left: 0;
				height: 50px;
				display: flex;
				align-items: center;
				padding: 0px 40px;
				border-bottom: 1px solid $white_bg;

				@media screen and (max-width: 640px) {
					padding: 0px 30px;
				}

				@media screen and (max-width: 475px) {
					padding: 0px 20px;
				}
			}
		}

		.bottom_menu {
			display: none;
			background: $dark_bg;

			@media screen and (max-width: 768px) {
				width: 100%;
				display: flex;
				position: fixed;
				bottom: 0;
				width: 100%;
				height: 50px;
				align-items: center;
				justify-content: center;
				gap: 20px;
				border-top: 1px solid $white_bg;
			}

			.active_icon {
				text-decoration: none;
				width: 30px;
				height: 30px;
				background: $purple_bg;
				border-radius: 50%;
				font-size: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white_bg;
				transition: all ease-in-out 0.35s;
			}

			.default_icon {
				text-decoration: none;
				width: 30px;
				height: 30px;
				background: transparent;
				border-radius: 50%;
				font-size: 18px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white_bg;
				transition: all ease-in-out 0.35s;
			}

			.mobile_img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
