@import "../../../variable.scss";

section {
	width: 100%;
	height: 100vh;
	position: relative;

	.nav_header {
		width: 100%;
		height: 70px;
		background: transparent;
		position: relative;

		.nav_container {
			width: 100%;
			height: 100%;
			max-width: 1920px;
			padding: 0px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				font-size: 50px;
				cursor: pointer;

				@media screen and (max-width: 640px) {
					font-size: 40px;
					letter-spacing: 1px;
				}

				@media screen and (max-width: 475px) {
					font-size: 35px;
				}
			}

			.login_h2 {
				color: $white_bg;
			}
			.register_h2 {
				color: $dark_bg;
			}

			.menu_btn {
				display: none;
				@media screen and (max-width: 640px) {
					display: block;
					background: transparent;
					outline: none;
					border: 0px;
					cursor: pointer;
				}
			}

			.nav_btns {
				display: flex;
				gap: 20px;

				a {
					text-decoration: none;
					padding: 10px 50px;
					border-radius: 10px;
					font-size: 20px;
					font-weight: 600;

					@media screen and (max-width: 768px) {
						padding: 10px 35px;
					}
				}

				.login_btn_otl {
					border: 2px solid $white_bg;
					color: $white_bg;

					&:hover {
						background: $white_bg;
						color: $purple_bg;
						transition: all 0.35s ease-in-out;
					}
				}

				.register_btn_otl {
					border: 2px solid $dark_bg;
					color: $dark_bg;

					&:hover {
						background: $dark_bg;
						color: $yellow_bg;
						transition: all 0.35s ease-in-out;
					}
				}

				.register_btn_fill {
					border: 2px solid $yellow_bg;
					color: $yellow_bg;
					background: $dark_bg;
				}

				.login_btn_fill {
					border: 2px solid $purple_bg;
					color: $purple_bg;
					background: $dark_bg;
				}

				@media screen and (max-width: 640px) {
					display: none;
				}
			}
		}

		.mobile_menu_open {
			visibility: hidden;

			@media screen and (max-width: 640px) {
				position: absolute;
				display: flex;
				visibility: visible;
				transition: all ease-in-out 0.4s;
				top: 0px;
				right: 0px;
				width: 100%;
				height: 100vh;
				z-index: 999;
				background: rgba(0, 0, 0, 0.3);
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(3.2px);
				-webkit-backdrop-filter: blur(3.2px);
			}

			.close_btn {
				display: none;
				@media screen and (max-width: 640px) {
					display: block;
					background: transparent;
					outline: none;
					border: 0px;
					cursor: pointer;
					position: absolute;
					top: 20px;
					right: 20px;
				}
			}

			.mobile_nav_btns {
				display: flex;
				flex-direction: column;
				height: 200px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				gap: 20px;
				button {
					padding: 10px 50px;
					border-radius: 10px;
					font-size: 20px;
					font-weight: 600;
					cursor: pointer;

					@media screen and (max-width: 768px) {
						padding: 10px 35px;
					}
				}

				.login_btn_otl {
					border: 2px solid $white_bg;
					color: $white_bg;
					background: transparent;

					&:hover {
						background: $white_bg;
						color: $purple_bg;
						transition: all 0.35s ease-in-out;
					}
				}

				.register_btn_otl {
					border: 2px solid $dark_bg;
					color: $dark_bg;
					background: transparent;

					&:hover {
						background: $dark_bg;
						color: $yellow_bg;
						transition: all 0.35s ease-in-out;
					}
				}

				.login_btn_fill {
					border: 2px solid $purple_bg;
					color: $purple_bg;
					background: $dark_bg;
				}

				.register_btn_fill {
					border: 2px solid $yellow_bg;
					color: $yellow_bg;
					background: $dark_bg;
				}
			}
		}

		.mobile_menu_close {
			display: none;
			transition: all ease-in-out 0.4s;
		}
	}

	// .children_wrapper {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	min-height: 450px;
	// 	background: $dark_bg;
	// 	min-width: 300px;
	// 	width: 100%;
	// 	max-width: 450px;
	// 	border-radius: 20px;
	// }
}

.register_body {
	background: $yellow_bg;
}

.login_body {
	background: $purple_bg;
}
